<div class="navbar">
  <div class="navbar-left">
    <ul class="navbar-links">
      <li class="navbar-link">
        <a href="#"><i class="navbar-icon fa fa-home" aria-hidden="true"></i></a>
        <a href=""><p>Home</p></a>
      </li>
      <li class="navbar-link">
        <a href="#"><i class="navbar-icon  fa fa-bell" aria-hidden="true"></i></a>
        <a href=""><p>Notifications</p></a>
      </li>
      <li class="navbar-link">
        <a href="#"><i class="navbar-icon fa fa-envelope" aria-hidden="true"></i></a>
        <a href=""><p>Messages</p></a>
      </li>
    </ul>
  </div>
  <div class="navbar-center">
    <div class="logo">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </div>
  </div>
  <div class="navbar-right">
    <form action="" class="navbar-search">
      <input type="text" class="navbar-input">
    </form>
    <a href="#" class="navbar-profile">
      <img src="http://via.placeholder.com/70x70" class="navbar-avatar">
    </a>
  </div>
</div>



